.leftBanner{
    margin-right: 15px;
    background-color: pink;
    max-width: 28%;
    width: 100%;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}

h1, h2, article{
    word-break: break-word;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.bannersContainer{
    min-height: 80%;
}
.landing{
    height: 100vh;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
article img{
    display: block;
    max-width: 100%;
    max-height: 200px;
    margin: auto;
}
header{
    min-height: 20vh;
    background-color: lightblue;
}
header h1{
    margin: 0;
}
.rightBanner{
    max-width: 100%;
    width: 100%;
}
body{
    margin: 0;
}
footer{
    width: 100%;
    
    display: flex;
    min-height: 20%;
}
footer .leftFooter{
    margin-right: 15px;
    background-color: lightgray;
    max-width: 28%;
    width: 100%;
}
footer .rightFooter{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: end;
}
.rightBanner header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rightBanner h1{
    padding-left: 20px;
}
.rightFooter h2{
    padding-right: 20px;
}
.logo{
    width: 60px;
    padding-right: 20px;
}
.bannersContainer.grid, footer .grid{
    grid-template-columns: repeat(1, 1fr 2.5fr);
    min-height: auto;
    grid-column-gap: 15px;
}
.bannersContainer.grid .leftBanner, footer .grid .leftFooter{
    max-width: 100%;
    margin-right: 0;
}
.bannersContainer.grid{
    height: 100%;
    grid-template-rows: 4fr 1fr;
}
.bannersContainer.grid footer{
    height: auto;
    grid-column: 1/3;
}
*{
   word-break: break-word; 
}
header.d-grid{
    display: grid;
    grid-template-columns: 1fr 80px;
}
footer .rightFooter.grid{
    display: grid;
    grid-template-columns: 1fr;
}
footer .rightFooter.grid h2{
    text-align: end;
}

.upperLanding{
    height: 79vh;
}
.lowerLanding{
    height: 20vh;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.leftFooter{
    background-color: lightgrey;
}
.rightFooter{
    background-color: lightblue;
}
.leftFooter,.rightFooter{
    width: 100%;
    height: 100%;
}

.headerContainer{
    vertical-align: top;
}

.regionLinksContainer{
    position: relative;
}
.regionLinksContainer .wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    bottom: 0;
}
.genshinLinks{
    margin-bottom: 30px;
}
.bannersContainer{
    background-color: white;
}
footer > div:first-child{
    background-color: white;
}




.mondstadtH3{
    font: 20px "Arial";
    font-weight: bold;
    color: gray;
    text-align: left;
}
body{
    background-color: #1D92E1;
    font: 17px "Roboto", sans-serif;
    line-height: 1.3;
}

a{
    font: 20px "Roboto";
    font-style: italic;
    text-decoration: none;

}
article#Liyue >h3{
    color: pink;
}

a#inazLink{
    color: violet;
}
a#liyueLink{
    color: rgb(240, 185, 83);
}
a#mondLink{
    color: lightskyblue;
}
#Liyue > h3{
    color: black!important;
}


ul{
    list-style-type: square;
}
ol{
    list-style-type:lower-latin;
}

.genshinLinks thead{
    background-color: violet;
}
.genshinLinks{
    font: 18px "Roboto";
    text-decoration: none;
    border-collapse: collapse;
    border: 2px solid black;
}
.genshinLinks td,th{
    border: 2px solid black;
}